ANTHROPIC_API_KEY=
OPENAI_API_KEY= example_openai_api_key
COHERE_API_KEY= example_cohere_api_key          # reranker (optional)
TAVILY_API_KEY= example_tavily_api_key          # web search tool
QDRANT_URL=http://localhost:6333
LANGFUSE_PUBLIC_KEY= example_langfuse_public
LANGFUSE_SECRET_KEY= example_langfuse_secret
LANGFUSE_BASE_URL= "https://cloud.langfuse.com"
JWT_SECRET= example_jwt_secret
